@charset "ISO-8859-1";
#pagntn
{
	margin-left:10px; 
	background-color:#F0F0F0;
	color:black;
	border:1.5px solid lightgray;	
}
#currentDate
{
	margin-left:15px;
}

#btn
{
	margin-left:5px; 
	background-color:white;
	color:black;
	border:1.5px solid lightgray;	
	width:170px;
	height:60px;
}

#hourly1
{
	margin-left:5px; 
	background-color:white;
	color:black;
	border:1.5px solid lightgray;	
	width:170px;
	height:60px;
}
#hourly2
{
	margin-left:10px; 
	background-color:white;
	color:black;
	border:1.5px solid lightgray;	
	width:170px;
	height:60px;
}
#hourly3
{
	margin-left:10px; 
	background-color:white;
	color:black;
	border:1.5px solid lightgray;	
	width:170px;
	height:60px;
}
#all1
{
	margin-left:5px; 
	background-color:white;
	color:black;
	border:1.5px solid lightgray;	
	width:170px;
	height:60px;
}
#all2
{
	margin-left:5px; 
	background-color:white;
	color:black;
	border:1.5px solid lightgray;	
	width:170px;
	height:60px;
}
#all3
{
	margin-left:5px; 
	background-color:white;
	color:black;
	border:1.5px solid lightgray;	
	width:170px;
	height:60px;
}
#add1
{
	margin-left:5px; 
	background-color:white;
	color:black;
	border:1.5px solid lightgray;	
	width:170px;
	height:60px;
}

#thirdnav
{
	border-top:1px solid gray;	
	display:none; 
	margin-top:-5px;
}
#addbtn1
{
	background-color:#F0F0F0;
	border:1.5px solid lightgray;	
	width:70px;
	height:40px;
	color:black;
	font-weight: 900;
	font-size:20px;
	margin-left:54px; 
}

#addbtn2
{
	background-color:#F0F0F0;
	border:1.5px solid lightgray;	
	width:70px;
	height:40px;
	color:black;
	font-weight: 900;
	font-size:20px;
	margin-left:231px; 
}
#addbtn3
{
	background-color:#F0F0F0;
	border:1.5px solid lightgray;	
	width:70px;
	height:40px;
	color:black;
	font-weight: 900;
	font-size:20px;
	margin-left:406px; 
}

#addbtn4
{
	background-color:#F0F0F0;
	border:1.5px solid lightgray;	
	width:70px;
	height:40px;
	color:black;
	font-weight: 900;
	font-size:20px;
	margin-left:580px; 
}
#fourthnav
{
	display:none;
	margin-top:-5px;
	border-top:1px solid gray;	
}
#fifthnav
{
	display:none;
}

#sixthnav
{
	display:none;
	border-top:1px solid gray;	
	display:none; 
	margin-top:-5px;
}
#seventhnav
{
	display:none; 
}
#eightnav
{
	display:none;
	border-top:1px solid gray;	
	display:none; 
	margin-top:-5px;
}
#ninenav
{
	display:none; 
}
#tennav
{
	display:none;
	border-top:1px solid gray;	
	display:none; 
	margin-top:-5px;
}
#elevennav
{
	display:none; 
}